@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
#button{
          	padding:5px 30px;
          	background-color:white;
          	text-decoration:none;
          	margin-top:10px;
          	border-radius:15px;
          	font-weight:bolder;
          	font-size:20px;
          }

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}

h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

.btn a{
	display: block;
	width: 180px;
	height: 35px;
	border: 2px solid #fb2274;
	line-height: 35px;
	margin: 25px auto 0;
	color: #fb2274;
	text-align: center;
}




.main_container{
	position: relative;
}

/* Navigation bar */
.navbar{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}

.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #fb2274;
}

.navbar .navbar_items ul{
	display: flex;
}


.navbar .navbar_items ul li{
	text-transform: uppercase;
	margin: 0 10px;
}

.navbar .navbar_items ul li a{
	color: #fff;
}

/* Banner Image */
.banner_image{
	background: url("https://i.imgur.com/AS8APz9.jpg") no-repeat top center;
	background-size: cover;
	width: 100%;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: #fb2274;
}

/* About us */
.about,
.services,
.contactus,
.ourteam,
.Sign Up,
.login-box{
	padding: 5% 10%;
	text-align: center;
}

/* Services */
.services{
	background: #f5f5f5;
}

.diff_services{
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

.diff_service_item{
	width: 30%;
}

.diff_service_item img{
	width: 100%;
	margin-bottom: 25px;
}

.diff_service_item h3{
	color: #fb2274;
	margin-bottom: 15px;
}

/* Contact Us */
.form_input{
	margin-bottom: 15px;
}

.form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px;
	border: 1px solid #ccc;
}

.form_input textarea{
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}

/* Our Team*/
.ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_member{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
}

.ourteam_wrapper .team_member img{
	width: 100%;
	display: block;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}
.Sign Up{
     background: url("https://images.unsplash.com/photo-1485802007047-7774de7208e5?dpr=1&auto=compress,format&fit=crop&w=1800&h") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 15px;
    background: rgba(3, 3, 55, 0.5);
    width: 18.75rem;
    height: 25rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.form_output {
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #FF0000;
    padding: 10px;
    color: white;
    text-align: center
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    width: 250px;
	padding: 12px 20px;
    outline: 0;
    background: rgba(235, 30, 54, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
    text-align: center
}

:root{
  --main-bg: #0D1232;
  --bg-clr: #f5f5f5;
 
  --bg-light: #191F4B;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: var(--main-bg);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-clr);
  width: 70%;
  color: white;
  margin: 2em auto;
  padding: 5em 10em;
  border-radius: 20px;
  position: relative;
}

.signin{
  font-size: 1.75rem;
}

.tabs{
  margin-top: 3em;
}

.tab__p, .tab__t{
  width: 100%;
  background: var(--bg-light);
  padding: 0.8rem 3rem;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

.tab__p, .tab__t:hover{
  color: black
}

form{
  width: 84%;
  margin: 5em auto;
}

label{
  font-size: 1.1rem;
  margin-left: 0.6em;
}

input{
  width: 100%;
  padding: 0.6em;
  margin: 0.8em 0 2em 0;
  outline: none;
  background: #0F1436;
  border: 2px solid #181E48;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-size: 1.125rem;
}

.forgot{
  float: right;
  color: var(--white);
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
}

.btn{
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.8em;
  font-size: 1.125rem;
  
  color: white;
}

.no-account{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: var(--bg-light);
  padding: 1.5em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signup{
  border: none;
  border-radius: 5px;
  background: var(--pink);
  padding: 0.8em 1em;
  font-size: 1rem;
  margin-left: 1em;
  color: white;
}
/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}

@media (max-width: 720px){
	.navbar{
		height: auto;
		flex-direction: column;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar ul li{
		margin-bottom: 5px;
	}

	.banner_content{
		margin-top: 35px;
	}
}

/* arrow */
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fb2274;
	border-radius: 50%;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}